html 
{
    background-color:rgb(160, 133, 124);
    text-align: center;
}

#scp 
{
    width: 80px;
    text-align: center;
}

canvas 
{
    outline: 5px solid rgb(231, 158, 22);
    text-align: left;
    max-height: 70vh;
    max-width: 150vw;
}

div#divtime 
{
    background-color: cornflowerblue;
    outline: darkslateblue;
    width: 300px;
    text-align: center;
    margin-top: 10px;
}

p 
{
    margin-left: 900px;
    font-style: bold;
}

.button 
{
    background-color: #000000;
    border: none;
    box-shadow: 0 9px#505050;
    padding: 30px;
    text-align: center;
    font-size: 28px;
}
  
.button:hover 
{
    background-color: #3F3F3F;
}
  
.button:active 
{
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(5px);
}
  
.red
{
    color: #d30909;
}
  
.green
{
    color: #36bd36;
}
  
.blue
{
    color: #2e2ec7;
}
  
.yellow 
{
    color: #ffd000;
}
  
.round
{
    border-radius: 50%;
}
  